html, body {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#main-canvas {
  border: solid 1px black;
  max-width: 100%;
  height: auto;
  max-height: 600px;
}
